p {
  color: red;
  width: 500px;
  border: 1px solid black;
}

p, li, h1 {
	color: black;
}

html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

.quote {
	color:blue;
}


h2.quote {
	color:red;
}

#corevalues {
	border: 7px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

#abstract {
	display:inline-block;
}