p, li, h1 {
  color: black;
}

p {
  color: black;
  width: 500px;
  
  margin: 0 auto;
}

html {
  background-color: #d5f4e6;
}


body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
p.quote {
	border: 1px solid black;
}


#corevalues {
	border: 7px solid black;
}